.badge-vocals {
  background-color: #7c56c9;
  color: white;
}

.badge-accomp {
  background-color: #02acb4;
  color: white;
}

.badge-drums {
  background-color: #a8110d;
  color: white;
}

.badge-bass {
  background-color: #095ba4;
  color: white;
}

.badge-vocals-faded {
  background-color: #7c56c92c;
  color: white;
}

